<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:site_name" content="연하장" />
    <meta name="og:title" content="연하장" />
    <meta
      name="og:description"
      content="선민의 연하장"
    />
    <meta name="og:type" content="website" />
    <meta name="keywords" content="계묘년, 새해인사, 신년인사" />
    <meta name="author" content="김선민" />
    <meta
      name="description"
      property="og:description"
      content="2023년 신년인사입니다."
    />
    <meta
      property="og:image"
      content="https://baboda212.github.io/newyear/public/images/thum.jpg"
    />
    <link rel="shortcut icon" href="images/sunminfavicon.png" type="image/png" sizes="16x16">
    <title>HAPPY NEW YREAR</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css" media="screen and (max-width: 767px)">
</head>
<body>
    <div class="container">
        <!-- 타이틀 -->
        <div class="title">
            <!-- <video id="video" width="100%" height="auto" autoplay loop muted controls>
                <source src="images/pexels-karolina-grabowska-5751106.mp4" type="video/mp4">
            </video>
            <div class="content1">
                <h1>근 하 신 년</h1>
                <p>희망찬 새해, 행운이 가득하시기 바랍니다.</p>
            </div>     -->
        </div>
        <!-- 인사말 -->
        <div id="card" class="card">
            <h2 class="ani1">힘차게 도약하는 검은 토끼의 해,<br>
                새해 복 많이 받으세요.</h2>
            <div class="slide">
                <div class="slideimg">
                    <img id="photo" src="images/img1.jpg" alt="이미지1">
                    <!-- <img src="images/img2.jpg" alt="이미지2">
                    <img src="images/img3.jpg" alt="이미지3"> -->
                </div>
            </div>
            <p class="ani2">
                2023년 계묘년<br>
                새해 복 많이 받으세요!<br>
                2023년 새해에도 항상 건강하시고<br>
                바라던 모든 소망과 계획했던 모든 일들이<br>
                풍성한 결실로 맺어지는 행복한<br>
                한 해가 되시길 기원합니다.
            </p>
            <h3 class="ani3">김선민 드림</h3>
        </div>
        <!-- 게시판 -->
        <div class="review">
            <div class="content2">
                <div class="rabbit">
                    <img src="images/icon_l.png" alt="좌토끼">
                    <h2>덕담 한마디</h2>
                    <img src="images/icon_r.png" alt="우토끼">
                </div>
                <form action="/create" method="post" id="review-box" name="review_box">
                    <label for="review" class="label-hidden">리뷰작성</label><br>
                    <textarea name="desc" id="review" cols="45%" rows="5" placeholder="여기에 글을 작성해 주세요" onkeyup="len_chk()"></textarea>
                    <div class="review-box-sub">
                        <input type="text" name="name" placeholder="작성자명" id="id_name" onkeyup="len_chn()">
                        <input type="text" name="pwd" placeholder="비밀번호" id="pwd" onkeyup="len_chp()">
                    </div>
                    <button type="submit" id="btn-1">글쓰기</button>
                    <input type="text" name="tdate" value="input_value" class="input_value">
                </form>
            </div>
            <div class="content3">
                <p>댓글 <%= posts.length  %> </p>
                <% for (let i = posts.length - 1; i >= 0; i--){ %>
                    <ul>
                        <li id="text-box">
                            <div class="text-box-box">
                                <div class="text-box-name">
                                    <%= posts[i].name  %>
                                </div>
                                <div class="text-box-date">
                                    <%= posts[i].tdate  %> 
                                </div>
                                    
                                </form>
                                
                                <div class="text-box-desc">
                                    <%= posts[i].desc  %>
                                </div>
                            </div>
                            <!-- 삭제버튼 추가(배열번호값을 넣어준 후 선택된 배열번호만 삭제가능하도록 제작) -->
                            <form action="/delete/<%= [i] %>" method="post">
                                <button class="dbtn" type="submit"><i class="fa-regular fa-trash-can"></i></button>
                            </form>
                        </li>
                        <hr>
                    </ul>
                <% } %>  
            </div>
        </div>    
    </div><!-- container -->

    <script src="js/img_gallery.js"></script>
    <!-- 폰트어썸 -->
    <script
      src="https://kit.fontawesome.com/67eff22c15.js"
      crossorigin="anonymous"
    ></script>
</body>
</html>